@import "@/styles/variables.scss";

.editAvatarTitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  color: $primary;
  margin-bottom: 40px;

  @media (max-width: 576px) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 440px) {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
