@import "@/styles/variables.scss";

.wrapper {
  @media (max-width: 992px) {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding: 15px 15px 20px;
  border-radius: 10px;

  @media (min-width: 768px) {
    width: 600px;
  }
}

.imageBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;

  &:hover {
    .overlay {
      background: rgba(0, 0, 0, 0.5);
    }

    .playButton {
      path {
        fill: white;
      }
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.playButton {
  path {
    fill: white;
  }
}

.playButtonActive {
  path {
    fill: $primary;
  }
}

.playButtonOverlayOpen {
  position: absolute;
  cursor: pointer;
  user-select: none;

  path {
    fill: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.overlayOpen {
  position: absolute;
  width: 65px;
  height: 65px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  width: 65px;
  height: 65px;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.playButton {
  position: absolute;
  cursor: pointer;
  user-select: none;

  path {
    fill: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.image {
  border-radius: 50%;
}

.volumeBar {
  margin-left: 10px;
  margin-bottom: 10px;
  height: 3px;
  border-radius: 10px;
  appearance: none;
  background: $lightGray;
  width: 50px;
  position: relative;
  outline: none;
  --width: 0;

  &::-webkit-slider-runnable-track {
    background: $lightGray;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 3px;
    cursor: pointer;
    outline: none;
  }

  &::-moz-range-track {
    background: $lightGray;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 3px;
    outline: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::before {
    content: "";
    height: 3px;
    width: var(--width);
    background: $primary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &::-moz-range-progress {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: $primary;
    border-radius: 50%;
    z-index: 2;
    margin: -3px 0 0 0;
  }

  &::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
}

.progressBar {
  margin-left: 15px;
  height: 3px;
  border-radius: 10px;
  appearance: none;
  background: $lightGray;
  width: 525px;
  position: relative;
  outline: none;
  --width: 0;

  @media (max-width: 992px) {
    width: calc(100% - 15px);
  }

  &::-webkit-slider-runnable-track {
    background: $lightGray;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 3px;
    outline: none;
    cursor: pointer;
  }

  &::-moz-range-track {
    background: $lightGray;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 3px;
    outline: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::before {
    content: "";
    height: 3px;
    width: var(--width);
    background: $secondary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &::-moz-range-progress {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background: $secondary;
    border-radius: 50%;
    z-index: 2;
    margin: -3px 0 0 0;
  }

  &::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
}

.timeBlock {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.timeBlockContainer {
  display: flex;
  column-gap: 10px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.currentTime,
.duration {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  width: 50px;
  font-family: Nunito, sans-serif;
}

.currentTime {
  color: $primary;
}

.duration {
  font-family: Nunito, sans-serif;
  color: $secondary;
}

.name,
.artist {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin-left: 15px;
}

.name {
  color: $primary;
  margin-bottom: 5px;
}

.artist {
  color: #4a4a4a;
}

.trackInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.leftSide {
  display: flex;
  align-items: center;
}

.trackHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackInfo {
  display: flex;
  flex-direction: column;
}

.trackPlayButtonBlock {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
