@import "@/styles/variables.scss";

.viewsBlock {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 12px;

  svg {
    margin-right: 10px;
  }

  span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $primary;
  }
}
