.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #e8338b;
    text-align: center;

    @media (max-width: 576px) {
      font-size: calc(8vw - 2px);
      line-height: calc(4vw - 2px);
    }
  }

  img {
    @media (max-width: 768px) {
      width: calc(45vw);
      height: auto;
    }
  }
}
