@import "@/styles/variables.scss";

.notificationUserAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.notificationBlock {
  position: absolute;
  padding-left: 20px;
  padding-bottom: 20px;
  left: 0;
}

.notificationBlockInner {
  background: $lightGraySecondary;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.notificationBlockRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;

  p {
    font-size: 20px;
    color: $gray;
    cursor: pointer;
  }
}

.notificationBlockContent {
  display: flex;
  column-gap: 5px;
  align-items: center;

  span {
    font-weight: 700;
    font-size: 20px;
    color: $primary;
    cursor: pointer;
  }
}

.notificationUserAvatar {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
