@import "@/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-tap-highlight-color: transparent;

  ::selection {
    background: rgba(24, 31, 146, 0.1);
    color: $primary;
  }
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: auto !important;
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    @media (max-width: 992px) {
      display: none;
    }
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/** EditorJS overrides **/
.cdx-input.image-tool__caption {
  display: none !important;
}

.ce-paragraph {
  &::before,
  &::after {
    font-weight: 700 !important;
    font-size: 25px !important;
    line-height: 28px !important;
    color: #b0b0b0 !important;
  }
}

/** MaterialUI overrides **/
.MuiFormLabel-root.MuiInputLabel-animated {
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 700 !important;
  font-size: 23px !important;
  color: #181f92 !important;
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 20px !important;
}

.MuiFormLabel-root.MuiInputLabel-outlined {
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 700 !important;
  font-size: 23px !important;
  color: #181f92 !important;
}

.MuiInputLabel-root.Mui-error {
  color: $secondary !important;
}

.Mui-error {
  border: none !important;

  input:not(.MuiOutlinedInput-inputAdornedEnd) {
    border: 2px solid $secondary !important;
    border-radius: 10px !important;
  }
}

.MuiFormHelperText-contained.Mui-error,
.MuiFormHelperText-root.MuiFormHelperText-contained {
  color: $secondary !important;
  font-size: 15px !important;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif !important;
}

.MuiAlert-root {
  background: #ffebf4 !important;
}

.MuiAlert-standardError {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  width: auto !important;
}

.MuiTextField-root.MuiOutlinedInput-adornedEnd {
  border-radius: 0 !important;
}

.MuiFormHelperText-root {
  margin-left: 10px !important;
}

.MuiTextField-root {
  margin-bottom: 20px !important;

  div {
    fieldset:not(.MuiOutlinedInput-notchedOutline) {
      border: 2px solid $primary !important;
      border-radius: 10px;
    }
  }

  div.Mui-error {
    fieldset {
      border: 2px solid $secondary !important;
      border-radius: 10px !important;
    }
  }
}

.Mui-error.MuiFormHelperText-filled {
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 700 !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 2px solid $primary !important;
  border-radius: 10px !important;
}

.MuiOutlinedInput-notchedOutline p.MuiFormHelperText-filled {
  border: 2px solid $secondary !important;
  border-radius: 10px !important;
}

.MuiTextField-root label,
.Mui-error .MuiOutlinedInput-input {
  color: $secondary !important;
}

.MuiTextField-root:has(.Mui-error, .MuiFormHelperText-contained)
  .MuiInputBase-formControl {
  fieldset {
    border: 2px solid $secondary !important;
  }
}

.MuiTextField-root.MuiFormControl-fullWidth.MuiTextField-root:has(
    .Mui-error,
    .MuiFormHelperText-contained
  ) {
  label {
    color: $secondary !important;
  }
}

.MuiOutlinedInput-input {
  font-family: "Comfortaa", sans-serif !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.MuiButton-root {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.MuiButton-label {
  align-items: center !important;
}

.MuiDialogContent-root {
  padding: 40px !important;
  overflow: hidden !important;

  @media (max-width: 576px) {
    padding: 30px !important;
  }

  @media (max-width: 440px) {
    padding: 20px !important;
  }
}

.MuiPaper-rounded {
  border-radius: 10px !important;
}

.MuiPickersPopper-root {
  z-index: 10000 !important;
}

.greenButtonDisabled {
  background: #898989 !important;
}

.loader {
  background: $primary;
  position: fixed;
  height: 100%;
  width: 100vw;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.navbarContainer {
  width: 1200px;
  margin: 0 auto;
}

/** MainLayout **/
.layoutContainer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.fullWidthLayoutContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 13px;

  @media (max-width: 992px) {
    height: 100vh;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.layoutContent {
  padding-top: 25px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

/** 404 page **/
.notFoundPageContainer {
  margin: 50px auto 0;
  width: 727px;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.notFoundPageInner {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 700;
    font-size: 65px;
    color: #e8338b;
    margin-bottom: 25px;
    text-align: center;

    @media (max-width: 992px) {
      font-size: 55px;
      margin-bottom: 15px;
    }
  }

  p {
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #181f92;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  button {
    margin-bottom: 40px;
  }
}

.stickersBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }

    img:last-child {
      display: none;
    }
  }
}

/** Scrollbar **/
::-webkit-scrollbar {
  background: transparent;
  width: 10px;

  &-thumb {
    background: #bbbbbb;
    border-radius: 10px;
  }

  &-track {
    background: $lightGray;
  }
}

/** BlueButton **/
.blueButtonDisabled {
  svg {
    path {
      fill: #9b9b9b !important;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}

.MuiButton-contained {
  box-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out !important;
  -moz-transition: all 0.2s ease-in-out !important;
  -ms-transition: all 0.2s ease-in-out !important;
  -o-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;

  &.Mui-disabled {
    background: #e8e8e8 !important;
    color: #9b9b9b !important;

    &:hover {
      background: #e8e8e8 !important;
      color: #9b9b9b !important;
    }
  }

  &:hover {
    background: $secondary !important;
  }
}

/* EmojiPicker overrides */
.EmojiPickerReact {
  @media (max-width: 440px) {
    width: 90% !important;
  }
}
