@import "@/styles/variables.scss";

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    color: $primary;
    margin-bottom: 40px;
    text-align: center;

    span {
      color: $secondary;
    }

    @media (max-width: 992px) {
      font-size: 45px;
      line-height: 51px;
    }
  }

  @media (max-width: 1400px) {
    width: 100%;
  }

  @media (max-width: 992px) {
    padding-bottom: 50px;
  }
}

.formContainer {
  width: 100%;

  @media (max-width: 1400px) {
    width: calc(100vw - 20px);
  }
}
