@import "@/styles/variables.scss";

.container {
  width: 740px;
}

// Head content user info block
.headContentUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.headContentLeftSide {
  display: flex;
  width: 100%;
}

.headContent {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}

.headContentUserInfo {
  margin-left: 25px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.name,
.surname {
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: $primary;
}

.name {
  margin-right: 10px;
}

.login {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $secondary;
  margin-top: 5px;
}

// Friends block
.friendsBlock {
  user-select: none;
}

.friendsBlockTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $primary;
  margin-right: 10px;
}

.friendsBlockHead {
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

.friendsBlockFriendsCount {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $secondary;
}

.middleBlock {
  display: flex;
  justify-content: space-between;
}

// Birthdate block
.birthDateBlockDate {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $secondary;
  margin-top: 5px;
}

.birthDateBlock {
  display: flex;
  flex-direction: column;
}

.birthDateBlockTitle,
.musicBlockTitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: $primary;
  user-select: none;
}

// Avatar block
.avatarBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  user-select: none;
  height: 150px;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

// Music block
.musicBlock {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.musicBlockTracks {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 5px;
}

.trackCover {
  border-radius: 50%;
  position: absolute;
}

.trackCover:nth-of-type(1) {
  left: 0;
  z-index: 1;
}

.trackCover:nth-of-type(2) {
  left: 28px;
  z-index: 2;
}

.trackCover:nth-of-type(3) {
  left: 48px;
  z-index: 3;
}

.trackCover:nth-of-type(4) {
  left: 68px;
  z-index: 4;
}
