@import "@/styles/variables.scss";

.likesBlock {
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;

  svg {
    cursor: pointer;
  }

  p {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $primary;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-out;
    position: absolute;
    right: -10px;
    top: 11px;
  }

  p.active {
    color: $secondary;
  }
}
