.searchBlock {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  @media (max-width: 440px) {
    width: 100%;
  }
}

.searchActionsBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;

  @media (max-width: 1200px) {
    margin-bottom: 100px;
  }
}

.friendsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.emptyRequestsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
