@import "@/styles/variables.scss";

.containerLeftSide,
.containerRightSide {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.containerLeftSide,
.containerRightSide {
  position: relative;
  background: $lightGraySecondary;
  padding: 10px;
  width: fit-content;
}

.containerRightSide {
  align-self: flex-end;
}

.contentRightSide,
.contentLeftSide {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.svgAppendixLeftSide {
  position: absolute;
  bottom: -6px;
  left: -9px;
}

.svgAppendixRightSide {
  position: absolute;
  bottom: -6px;
  right: -9px;
}

.text {
  color: $darkGray;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  word-break: break-all;
}

.date,
.dateLeftSide {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: $secondary;
  align-self: flex-end;
}

.dateLeftSide {
  align-self: flex-start;
}

.messageImage {
  border-radius: 10px;
  margin-bottom: 5px;
  width: 240px;
  height: auto;
  object-fit: cover;
}
