@import "@/styles/variables.scss";

.container {
  margin-top: 25px;
  position: fixed;
  left: 20px;
  z-index: 20;
  top: 50px;

  li {
    a {
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      color: $primary;
    }
  }
}
