@import "@/styles/variables.scss";

.container {
  margin-top: 25px;
  position: sticky;
  top: 75px;

  li {
    a {
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      color: $primary;
    }
  }
}
