@import "@/styles/variables.scss";

.tracks {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 30px;
  align-items: center;
  padding-right: 10px;
  width: 100%;

  @media (max-width: 992px) {
    padding-bottom: 70px;
  }

  @media (max-width: 768px) {
    padding-right: 0;
  }

  @media ((width < 1200px) and (width >= 768px)) {
    padding-bottom: 75px;
  }
}

.currentTrackBlock {
  bottom: 0;
  position: fixed;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  width: 700px;
  padding: 20px;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    bottom: 70px;
  }

  @media (max-width: 992px) {
    bottom: 70px;
    width: 100%;
  }
}

.trackActionsBlock {
  display: flex;
  column-gap: 15px;
  align-items: center;

  svg {
    cursor: pointer;

    path {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      path {
        fill: $secondary;
      }
    }
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}

.trackActionsBlockButtonsBlock {
  display: flex;
  column-gap: 15px;

  @media (max-width: 576px) {
    flex-direction: column;
    row-gap: 15px;
  }
}
