@import "@/styles/variables.scss";

.container {
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    width: 700px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;

  &LeftSide {
    display: flex;
  }
}

.userInfo {
  cursor: pointer;
  display: flex;

  &Block {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  &BlockContainer {
    display: flex;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}

.pinIcon {
  margin-left: 10px;
  margin-right: 10px;

  path {
    fill: $gray;
  }
}

.createdAt {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;

  &:first-letter {
    text-transform: uppercase;
  }
}

.nameSurnameBlock {
  display: flex;
  flex-wrap: wrap;
}

.name {
  margin-right: 5px;
}

.surname {
  margin-right: 10px;
}

.login {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $secondary;
}

.name,
.surname {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $primary;
}

.image {
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.text {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  color: $primary !important;
  font-family: "Comfortaa", sans-serif !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.showCommentsButton {
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $primary;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;

  &:hover {
    color: $secondary;
  }
}

.commentsBlockHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastComment {
  margin-top: 25px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.previewBlock {
  position: relative;
}

.closeImageButton {
  position: absolute;
  right: 0;
  top: 0;
}

.commentsBlockTitle {
  font-size: 25px;
  font-weight: 700;
  color: $primary;
  margin-bottom: 20px;
  margin-top: 10px;
}

.imagesBlock {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.expandedImageBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expandedImage {
  position: absolute;
  border-radius: 10px;
  z-index: 20;
  width: 50%;

  @media (max-width: 576px) {
    width: 90%;
  }
}
