@import "@/styles/variables.scss";

.container {
  width: 700px;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  &LeftSide {
    display: flex;
  }
}

.userInfoBlock {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  align-items: center;

  div {
    cursor: pointer;
  }
}

.pinIcon {
  margin-left: 10px;

  path {
    fill: $gray;
  }
}

.createdAt {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;

  &:first-letter {
    text-transform: uppercase;
  }
}

.name {
  margin-right: 5px;
}

.surname {
  margin-right: 10px;
}

.login {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $secondary;
}

.name,
.surname {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $primary;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.text {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  color: $primary !important;
  font-family: "Comfortaa", sans-serif !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.showCommentsButton {
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $primary;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 25px;

  &:hover {
    color: $secondary;
  }
}

.commentsBlockHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  margin-top: 25px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.previewBlock {
  position: relative;
}

.closeImageButton {
  position: absolute;
  right: 0;
  top: 0;
}

.commentsBlockTitle {
  font-size: 25px;
  font-weight: 700;
  color: $primary;
  margin-bottom: 20px;
  margin-top: 10px;
}

.imagesBlock {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}
