@import "@/styles/variables.scss";

.form {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.formActions,
.registerBlock {
  width: 100%;
}

.registerBlock {
  margin-top: 40px;

  h2 {
    font-weight: 700;
    font-size: 39px;
    line-height: 43px;
    color: $primary;
    margin-bottom: 25px;
  }
}

.head {
  width: calc(100% - 15px);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 39px;
  line-height: 43px;
  color: $primary;
  margin-top: 20px;
  margin-bottom: 30px;

  p {
    margin: 0 auto;
  }

  svg {
    cursor: pointer;
    background: white;

    path {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      path {
        fill: $secondary;
      }
    }
  }
}

.formActions {
  button {
    margin-top: 10px;
  }
}

.nameSurnameInputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div {
    width: 215px !important;
  }
}
