@import "@/styles/variables.scss";

.form {
  display: flex;
  justify-content: space-between;

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;

    @media (max-width: 576px) {
      width: calc(100vw - 30px);
    }
  }

  &Actions {
    button {
      margin-top: 10px;

      @media (max-width: 378px) {
        font-size: 6vw !important;
      }
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.sticker {
  @media (max-width: 992px) {
    width: 50%;
    height: auto;
  }
}

.formActions,
.registerBlock {
  width: 100%;
}

.registerBlock {
  margin-top: 40px;

  h2 {
    font-weight: 700;
    font-size: 39px;
    line-height: 43px;
    color: $primary;
    margin-bottom: 25px;
  }
}

.head {
  width: calc(100% - 15px);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 39px;
  line-height: 43px;
  color: $primary;
  margin-top: 20px;
  margin-bottom: 30px;

  p {
    margin: 0 auto;
  }

  svg {
    cursor: pointer;
    background: #fff;

    path {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      path {
        fill: $secondary;
      }
    }
  }
}

.nameSurnameInputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div {
    width: 215px !important;
  }

  @media (max-width: 576px) {
    flex-direction: column;

    div {
      width: 100% !important;
    }
  }
}
