@import "@/styles/variables.scss";

.commentsBlock {
  display: flex;
  align-items: center;
  user-select: none;

  svg {
    cursor: pointer;
  }

  p {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $green;
  }
}
