@import "@/styles/variables.scss";

.container {
  display: flex;
  margin-bottom: 15px;
  word-break: break-all;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-left: 10px;
  width: 100%;
}

.name {
  margin-right: 5px;
}

.name,
.surname {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $primary;
  cursor: pointer;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: $primary;
  padding-right: 40px;
  margin-top: 10px;
}

.createdAt {
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: $secondary;
  font-family: "Nunito", sans-serif;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.commentImage {
  border-radius: 10px;
  margin-top: 15px;
  object-fit: cover;
}
