@import "@/styles/variables.scss";

.container {
  display: flex;
  margin-bottom: 15px;
  word-break: break-all;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

.content {
  margin-left: 10px;
  width: 100%;
}

.nameSurnameBlock {
  display: flex;
  flex-wrap: wrap;
}

.name {
  margin-right: 5px;
}

.name,
.surname {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $primary;
  cursor: pointer;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: $primary;
  padding-right: 40px;

  @media (max-width: 576px) {
    margin-top: 10px;
  }
}

.createdAt {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: $secondary;

  &:first-letter {
    text-transform: uppercase;
  }

  @media (min-width: 576px) {
    margin-left: 10px;
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.commentImage {
  border-radius: 10px;
  object-fit: cover;
}

.infoBlock {
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.rightSide {
  display: flex;
}

.commentImagesBlock {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
}
