@import "@/styles/variables.scss";

.text {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color: $secondary;
  width: 600px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}

.imagesBlock {
  display: flex;
  column-gap: 85px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 75%;

    img:last-child {
      display: none;
    }
  }

  @media (max-width: 576px) {
    img {
      width: 75%;
      height: auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}
